* {
  background-color: black;
}
#img {
  height: 100%;
  width: auto;
}

.input {
  background-color: aliceblue;
  color: black;
  padding: 10px;
  border: 3px solid gray;
  text-align: center;
}

#form {
  /* padding: 200px;
    padding-right: 150px;
    margin-left: 90px;*/
  padding-left: 20%;
  padding-top: 10%;
}

#login {
  color: #000;
  background-color: gray;
  padding-left: 73px;
  padding-right: 73px;
  font-size: 115%;
}
